---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-blue-400">Astro, Hello New World</span></h1>
		<a href="/sub/" class="text-red-600 text-9xl">sublink</a>
		<a href="/post/" class="text-fuchsia-500 text-9xl">mdx blog post</a>
	</main>
</Layout>
